@import "../../global/styles/resets";

#about-me-root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0% 50px;
  color: #575757;
  height: 90vh;

  #description {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
    width: 50%;

    #source-link {
      text-decoration: none;
      color: #c43131;
    }
  }

  #image-div {
    height: 70vh;

    img {
      height: 100%;
    }
  }
}
