@import "../../global/styles/resets";

#about-me-root {
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0% 50px;
  color: #575757;

  div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #description {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 50%;
  }

  #image-div {
    height: 70vh;

    img {
      height: 100%;
    }
  }
}
