// FONT SIZES
$reference-font-size: 16px;

$heading-font-size: 1.4rem;
$subheading-font-size: 1.2rem;
$body-font-size: 1rem;
$note-font-size: .8rem;

// FONT FAMILIES
$font-family: 'Quicksand', sans-serif;