@import '../../global/styles/constants';

.page-root {
  font-family: $font-family;
}

.section {
  height: 90vh;
  position: relative;

  .down-arrow {
    margin-top: 8vw;
    text-align: center;
    
    a {
      text-decoration: none;
    }
  }
}

.section-1 {
  background: #000;
  color: #fff;
  text-align: center;

  .banner-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8vw;

    div {
      height: 60vh;
    }

    img {
      height: 100%;
    }
  }

  .banner-caption {
    width: 80vw;
    margin: 0% auto;
    margin-top: 8vw;
  }

  .down-arrow {
    a {
      color: #fff;
    }
  }
  
}

.section-2, .section-3 {
  background: #fff;
  color: #555;

  header {
    height: 10vh;
    font-size: $subheading-font-size;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .galleries-list, .updates-list {
    margin-top: 10vh;

    ul {
      list-style: none;
    }

    li {
      text-align: center;
      margin: 4vw auto;
    }
    
    .see-all {
      font-size: $note-font-size;
      text-decoration: underline;
    }
  }

  
  .down-arrow {
    a {
      color: #555;
    }
  }

}

.section-3 {
  background: #f9f9f9;

  .updates-list {
    margin-top: 0;

    li {
      margin: 0 8vw;
      margin-bottom: 16vw;
      margin-top: 9vw;
    }
  }
}

footer {
  position: absolute;
  bottom: 8vw;
  left: 0;
  right: 0;
}