* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-root {
  height: 330px;
  max-width: 330px;
  min-width: 330px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 5px 30px 5px #efefef;
  border-radius: 4px;
  margin: 20px;
}

.image {
  width: 100%;

  img {
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
}

.meta {
  height: 100px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .title {
    display: flex;
    align-items: center;
    font-size: var(--font-size-large);
    width: fit-content;
    color: #8e8e8e;
    font-weight: bold;
    transition-duration: 0.2s;
  }

  .title:hover {
    color: #c43131;
    cursor: pointer;
  }

  .description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
