@import "../../global/styles/resets";

.card-link-root {
  width: 100%;
  padding: 20px;
  transition-duration: 0.3s;

  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-wrapper {
    color: #777;
    transition-duration: 0.3s;
    font-size: var(--font-size-large);
    font-weight: bold;
    margin-bottom: 10px;
  }

  .description-wrapper {
    color: #8e8e8e;
  }
}

.card-link-root.mobile-style {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;

  .image-wrapper {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .text-wrapper {
    margin-top: 15px;
    width: 100%;
  }
}

.card-link-root.desktop-style.page-styling {
  width: 70%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  margin: 0% auto 100px auto;
  border-radius: 4px;

  .image-wrapper {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .text-wrapper {
    margin-top: 15px;
  }
}

.card-link-root.desktop-style.section-styling {
  width: 450px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: 0 60px 60px 60px;
  border-radius: 4px;

  .image-wrapper {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .text-wrapper {
    margin-top: 15px;
  }
}

.card-link-root:hover {
  cursor: pointer;
  box-shadow: 0px 5px 50px 5px #efefef;
}

.card-link-root:hover .title-wrapper {
  color: #c43131;
}
