@import "../../global/styles/local-master";
@import "../../global/styles/images-wrapper-container.scss";

// TODO: condense commonly used flex styling

#gallery-page-root {
  padding: 0px 40px;

  @media (max-width: 780px) {
    padding: 0px 30px;
  }

  #spinner-wrapper {
    height: 60vh;
    width: 100%;
    justify-content: center;
  }

  /****************************** GALLERY STYLING *****************************/

  #gallery-content {
    display: flex;
    flex-direction: column;

    #gallery-text {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: start;
      margin-bottom: 50px;

      #gallery-title {
        font-size: var(--font-size-large);
        color: var(--font-color-accent);
        margin-bottom: 10px;
      }

      #gallery-description {
        color: var(--font-color);
      }
    }
  }
}
