@import "../../global/styles/local-master";

#page-not-found-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0% 50px;
  height: calc(100vh - 140px - 136px);

  #banner404 {
    height: 30vh;
    color: var(--font-color);

    #oops {
      font-size: var(--font-size-x-large);
      color: var(--font-color-dark);
    }

    #page-not-found {
      font-size: var(--font-size-large);
    }

    #home-link {
      margin-top: 40px;
      font-size: var(--font-size-large);

      a {
        color: var(--font-color-accent-dark);
        text-decoration: none !important;
      }
    }
  }
}
