@import "../../../global/styles/resets";

#landing-section {
  height: 90vh;
  max-height: 90vh;
  min-height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;

  #banner-image {
    text-align: center;
    height: 65vh;

    img {
      height: 100%;
    }
  }

  #banner-caption {
    margin: 30px 20px 0px 20px;
    color: #8e8e8e;
  }
}
