@import "../../../global/styles/local-master";

#landing-section {
  height: 86vh;
  max-height: 86vh;
  min-height: 86vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  #banner-image {
    text-align: center;
    padding: 0 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
  }

  #banner-caption {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color-dark);
  }
}
