@import "../../../global/styles/local-master";

#landing-section {
  height: 90vh;
  max-height: 90vh;
  min-height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;

  #banner-image {
    text-align: center;
    width: 100%;
    padding: 0 40px;
  }

  img {
    width: 100%;
  }

  @media (max-width: 780px) {
    #banner-image {
      height: 65vh;
    }

    img {
      height: 100%;
    }
  }

  #banner-caption {
    margin: 30px 20px 0px 20px;
    font-weight: bold;
    color: var(--font-color-dark);
  }
}
