@import "../../../global/styles/resets";

// TODO: condense commonly used flex styling

#landing-content-root {
  padding: 0px 30px;

  div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  #spinner-wrapper {
    height: 60vh;
    width: 100%;
    justify-content: center;
  }
}
