@import "../../../global/styles/local-master";

// TODO: condense commonly used flex styling

#landing-content-root {
  padding: 0px 40px;

  @media (max-width: 780px) {
    padding: 0px 30px;
  }

  .section-title {
    font-size: var(--font-size-large);
    color: var(--font-color);
    padding: 10px;
    margin: 50px auto;
    width: fit-content;

    @media (max-width: 780px) {
      margin: 0% auto;
      margin-bottom: 50px;
    }
  }

  .section-footer {
    padding: 10px;
    color: var(--font-color-accent);
    margin: 0% auto;
    width: fit-content;
  }

  .section-footer:hover {
    cursor: pointer;
  }
}
