@import "../../../global/styles/resets";

#spinner-wrapper {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-images-root {
  .landscape-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    img {
      width: 100%;
    }
  }

  .portrait-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    img {
      width: calc(50% - 5px);
    }
  }

  .single-portrait-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    img {
      width: 100%;
    }
  }
}
