@import "../../global/styles/local-master";

* {
  background: var(--background);
}

#app-root {
  max-width: 1280px !important;
  min-width: 320px !important;
  margin: 0% auto;
  position: relative;
  overflow: hidden;

  app-toast {
    z-index: 200;
    display: none;
  }
}
