* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app-root {
  max-width: 1280px !important;
  min-width: 960px !important;
  margin: 0% auto;
  position: relative;
  overflow: hidden;
}

main {
  margin-bottom: 160px;
}
