@import "../../global/styles/resets";

#view-image-root {
  width: 100%;

  #image-section {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;

    #exit-view-wrapper {
      display: flex;
      flex-direction: row-reverse;
      padding: 20px;

      @media (max-width: 780px) {
        padding: 10px;
      }

      #exit-view-image {
        padding: 10px;
        width: fit-content;
        height: fit-content;

        img {
          width: 15px;
        }

        @media (max-width: 780px) {
          img {
            width: 10px;
          }
        }
      }

      #exit-view-image:hover {
        cursor: pointer;
      }
    }

    #spinner-wrapper {
      height: 80vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #image-div {
      height: 80vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-height: 80vh;
        max-width: 100%;
      }
    }

    #image-controls {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0% auto;
      margin-top: 2vh;
      color: #8e8e8e;
      font-size: var(--font-size-small);

      .control-section {
        width: calc(100% * (1 / 3));
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .control {
        padding: 5px;
      }

      .control:hover {
        cursor: pointer;
      }

      a {
        text-decoration: none;
        color: #8e8e8e;
      }
    }
  }

  #image-text {
    margin: 0px 20px;
    margin-bottom: 10vh;

    #image-caption {
      color: #000;
      text-align: center;
    }

    #image-description {
      margin-top: 40px;
      color: #8e8e8e;
    }
  }
}
