@import '../../global/styles/constants';

.page-root {
  padding: 8vw;
  padding-top: 4vw;
  font-family: $font-family;
}

.image-meta {
  font-size: $body-font-size;
  margin-bottom: 4vw;
}

.image-container {

  width: 100%;
  
  img {
    width: 100%;
  }
}

.image-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 4vw;
  color: #999999;
}

.image-caption {
  margin-top: 4vw;
}

.image-description {
  margin-top: 4vw;
}