.card-root {
  height: 350px;
  max-width: 350px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0px 8px -6px black;
}

.card-image {
  width: 100%;
  
  img {
    width: 100%;
  }
}

.card-meta {
  height: 50px;
  display: flex;
  align-items: center;

  .card-description {
    margin: 0 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;  
  }
  
}

