@import "../../global/styles/local-master";

#app-footer-root {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 50px 20px;
  margin: 0% auto;
  z-index: 100;
  color: var(--font-color);

  @media (max-width: 780px) {
    flex-direction: column-reverse;
  }
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: var(--font-size-normal);

  @media (max-width: 780px) {
    flex-direction: column;
  }
}

@media (min-width: 780px) {
  .link:last-child {
    padding-right: 0;
  }
}

.link {
  padding: 10px;
  color: var(--font-color);
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

a:hover {
  color: var(--font-color-accent-dark);
}

.copyright-div {
  font-size: var(--font-size-normal);
}
