@import "../../global/styles/resets";

#app-footer-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px 40px;
  margin: 0% auto;
  background: #fff;
  z-index: 100;
  color: #8e8e8e;
  font-weight: bold;

  @media (max-width: 780px) {
    flex-direction: column-reverse;
  }
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: var(--font-size-normal);

  @media (max-width: 780px) {
    flex-direction: column;
  }
}

.link {
  padding: 10px;
  color: #8e8e8e;
  margin-bottom: 20px;
}

.link:hover {
  cursor: pointer;
  color: #c91c1c;
}

a {
  text-decoration: none;
  color: #8e8e8e;
}

a:hover {
  color: #c91c1c;
}

#book-a-shoot-button {
  background: #f0f0f0;
  border-radius: 4px;
}

#book-a-shoot-button:hover {
  color: #c91c1c;
}

.copyright-div {
  font-size: var(--font-size-normal);
}
