@import "../../global/styles/resets";

#landing-root {
  #landing-section {
    padding-top: 200px;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;

    #banner-image {
      text-align: center;
      height: 60vh;

      img {
        height: 100%;
      }
    }

    #banner-caption {
      margin-top: 40px;
      font-size: var(--font-size-small);
      color: #8e8e8e;
    }
  }

  #landing-images-parent {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

    img:hover {
      cursor: pointer;
      filter: brightness(0.6);
    }

    img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
      transition-duration: 0.1s;
    }

    .column {
      flex: 33.3%;
      max-width: 33.3%;
      padding: 0 4px;
    }

    @media screen and (max-width: 1024px) {
      .column {
        flex: 50%;
        max-width: 50%;
      }
    }

    @media screen and (max-width: 768px) {
      .column {
        flex: 100%;
        max-width: 100%;
      }
    }
  }
}
