@import "../../global/styles/resets";

#landing-root {
  #landing-section {
    padding-top: 150px;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;

    #banner-image {
      text-align: center;
      height: 65vh;

      img {
        height: 100%;
      }
    }

    #banner-caption {
      margin-top: 40px;
      font-size: var(--font-size-small);
      color: #8e8e8e;
    }
  }

  #landing-images-parent {
    line-height: 0;
    column-count: 3;
    column-gap: 8px;

    // img:hover {
    //   cursor: pointer;
    //   filter: brightness(0.6);
    // }

    img {
      margin-top: 8px;
      transition-duration: 0.1s;
      width: 100% !important;
      height: auto !important;
    }

    @media screen and (max-width: 1024px) {
      column-count: 2;
    }

    @media screen and (max-width: 768px) {
      column-count: 1;
    }
  }
}
