@import "../../global/styles/local-master";

#app-header-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  height: 14vh;
  margin: 0% auto;
  z-index: 100;

  @media (max-width: 780px) {
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    justify-content: center;
  }

  #mobile-menu-link {
    font-size: var(--font-size-small);
    margin-top: 10px;
    color: var(--font-color);

    @media (min-width: 781px) {
      display: none;
    }
  }

  #app-heading {
    font-size: var(--font-size-x-large);
    color: var(--font-color);
  }

  #app-heading:hover {
    cursor: pointer;
    color: var(--font-color-accent);
  }

  #menu {
    display: flex;
    flex-direction: row;

    @media (max-width: 780px) {
      display: none;
      flex-direction: column;
      align-items: center;
    }
  }

  a {
    color: var(--font-color);
    text-decoration: none;
  }

  .link-active {
    color: var(--font-color-accent-dark) !important;
  }

  @media (min-width: 780px) {
    .menu-option-link:last-child .menu-option {
      padding-right: 0;
    }
  }

  .menu-option {
    padding: 10px;
    margin-left: 40px;
    font-size: var(--font-size-normal);

    @media (max-width: 780px) {
      margin: 0% auto;
      font-size: var(--font-size-small);
      padding: 5px;
    }
  }

  .menu-option:hover {
    cursor: pointer;
    color: var(--font-color-accent-dark);
  }
}
