@import "../../global/styles/resets";

#app-header-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  position: fixed;
  min-width: 480px !important;
  margin: 0% auto;
  top: 0px;
  left: 0;
  right: 0;
  background: var(--app-header-background, #fff);
  z-index: 100;
}

#app-heading {
  font-size: var(--font-size-x-large);
  color: #8e8e8e;
}

#app-heading:hover {
  cursor: pointer;
  color: var(--app-header-heading-color, #c43131);
}

#menu {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

.link-active {
  color: #c91c1c;
}

.menu-option {
  padding: 4px;
  margin: 0px 20px;
  color: var(--app-header-menu-options-color, #8e8e8e);
  font-size: var(--font-size-normal);
  transition-duration: 0.2s;
}

.menu-option:hover {
  cursor: pointer;
  color: var(--app-header-menu-options-color-hover, #c91c1c);
}
